@import "../../../styles/public.scss";

.DemandHeader{
    @include wh;
    padding:10px 24px;
    box-sizing: border-box;
    .Demand-left-tab-list{
        ul{
            li{
                margin-right: 10px;
                a{ 
                    border-radius: 15px;
                    padding: 8px 12px;
                    display: block;
                    background: rgba(235, 237, 243, 1);
                    span{
                        @include txts(14px,rgba(153, 153, 153, 1),14px);
                    }
                    &.active{
                        background: rgba(31, 95, 225, 1);
                        span{
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }
    }
    .Deamnd-right-tab-search{
        .search-init{
            @include whb(248px,30px,rgba(240, 241, 247, 1));
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            .search-icn{
                @include wh(40px,calc(100% - 6px));
                padding-top: 6px;
                img{
                    width:18px;
                    height:19px;
                    margin: 0 auto;
                    display: block;
                }
            }
            input{
                display: block;
                @include wh(calc(100% - 40px));
                @include txts(14px,rgba(143, 143, 143, 1),30px)
            }
        }
        .search-but{
            @include whb(72px,30px,rgba(31, 95, 225, 1));
            border-top-right-radius: 15px;;
            border-bottom-right-radius: 15px;;
            button{
                @include wh;
                @include txts(14px,rgba(255, 255, 255, 1),30px);
                display: block;
                text-align: center;
            }
            
        }
    }
}