@import "../../../../styles/public.scss";

.product-info-content{
    .row-menu{
        .row-menu-tit{
            width: 100%;
            border-bottom: 1px solid rgba(229, 229, 229, 1);
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title-name{
                @include txts(20px,rgba(51,51,51,1),48px);
            }
            .setting-but{
                display: flex;
                align-items: center;
                margin-right: 30px;
                img{
                    @include wh(23px,24px);
                }
                span{
                    @include txts(16px,rgba(32,95,225,1),48px);
                    margin-left: 8px;
                }

            }
        }
        .row-menu-conent{
            width: 1156px;
            margin: 20px auto 0;
            .ant-table-wrapper{
                margin-bottom: 20px;
            }
            .init-word{
                text-align: center;
                span{
                    @include txts(14px,rgba(38,38,38,1),60px);
                }
                a{
                    @include txts(16px,rgba(32, 95, 225, 1),60px);
                }
            }
        }
    }
}