@import "../../../../styles/public.scss";



.AddPre-fat-fox{
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    padding: 0 14px;
    box-sizing: border-box;
    .form-list-cont{
        @include wh(100%,100%,hidden);
        background: #ffffff;
        position: relative;
        .DemandCreate-tit-fax{
            @include wh(100%,50px);
            border-bottom:1px solid rgba(229, 229, 229, 1);
            box-sizing: border-box;
            .tit-name{
                @include txts(20px,rgba(51,51,51,1),48px);
            }
            .link-name{
                margin-top: 19px;
                margin-left: 9px;
                cursor: pointer;
                span{
                    @include txts(14px,rgba(32,95,224,1),14px);
                    text-decoration:underline;
                }
                img{
                    width: 16px;
                    height: 16px;
                    margin-left: 5px;
                }
            }
        }
        .DemandCreeate-cont-list{
            width: 100%;
            height: calc(100% - 50px);
            box-sizing: border-box;
            padding-top: 30px;
            padding-left: 26px;
            .DemandCreeate-scl{
                width: 100%;
                height: 100%;
                overflow-x: hidden;
                overflow-y: auto;
            }
            .row-menu-tit{
                @include txts(20px,rgba(51,51,51,1),48px);
                width: 100%;
                border-bottom: 1px solid rgba(229, 229, 229, 1);
                margin-bottom: 20px;
            }
            .tab{
                margin-bottom: 20px;
                .ant-form{
                    padding-top: 20px;
                }
                .th,.tr{
                    display: flex;
                    align-items: center;
                }
                .td{
                    margin: 0 12px;
                }
                .num{
                    @include wh(26px,36px);
                    line-height: 36px;
                }
                .content{
                    @include wh(300px,36px);
                }
                .type{
                    @include wh(140px,36px);
                }
                .brand{
                    @include wh(140px,36px);
                }
                .specification{
                    @include wh(140px,36px);
                }
                .quantiyty{
                    @include wh(100px,36px);
                }
                .close{
                    @include wh(32px,32px);
                }
                .faildcontent{
                    @include wh(628px,32px);
                }
                .ant-row{
                    height: auto;
                    .ant-form-item-control{
                        height: auto;
                        .ant-form-item-control-input{
                            height: auto;
                        }
                    }
                }
            }
            .close-fat-but{
                float: right;
                margin-bottom: 20px;
                display: flex;
                .ant-upload.ant-upload-select{
                    display: block;
                }
                button{
                    margin: 0 10px !important;
                }
            }
        }
    }

}